*{
    background-color: rgb(56, 0, 88);
}


input{
    font-size: 20px;
   
}
.btn {
    display: block;
    margin:0 auto;
    
    width: 30%;
    
}


.afficheur {
    display: block;
    margin:0 auto;
    padding:25px;
    width: 30%;
    

}
.afficheur input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
   border: 3px solid rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(162, 0, 255);
}
.C{
    margin-left: 105px;
    background-color: rgb(83, 83, 83);
}

@media only screen and(min-width:700px) {
    
}
